<a href="https://colab.research.google.com/github/manaswinisunkavalli311/python_practise/blob/main/26-2-22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.WRITE A PROGRAMM TO PRINT PRIME NUMBER IN GIVEN RANGE USING FUNCTIONS FROM25 TO 50

2.WRITE A PROGRAM TO READ ANY MONTH IN INTEGER AND DISPLAY DAYS FOR THAT MONTH

3.PYTHON PROGRAM TO PRINT EVEN LENGTH WORDSIN A STRING EX=EVEN WORD

4.CAPITALIZE FIRST  AND LAST LETTER OF EACH WORD EX;HaI
WRITE A PROGRAMM TO READ A STRING FROM USER  DISPLAY FIRST CHARACTER OF EACH WORD WITH CAPITAL LETTER EX=Hello World

5.python programm to convert multiple integers to single integer ex;print(com([11, 33, 50])=113350

In [ ]:
def prime(a,b):
   a=int(input("enter"))
   b=int(input("enter"))
   for i in range(a,b+1):
     k=0
     for j in range(2,i):
       if i%j==0:
           k+=1
     if k==0:
       print(i)
(prime(a,b))

enter25
enter50
29
31
37
41
43
47

In [ ]:
a=int(input("monthnumber"))
if a==1 or 3 or 5 or 7 or 8 or 10 or 12:
  print("31 days")
 break
elif a==4 or 6 or 9 or 11:
   print("30 days")
else:
   print("28 or 29 days")

monthnumber6
31 days

In [ ]:

s="my name is manaswini"
s=s.split(' ')
for x in s:
	if len(x)%2==0:
			print(x,end="")

mynameis

In [ ]:
a=int(input("monthnumber"))
b=[4,6,9,11] 
if a==2:
  print("28or 29 days")
elif a in b:
   print("30")
elif a>=13 or a<1:
  print("enter")
else:
  print("31")

monthnumber6
30

In [53]:
a="11"
b="33"
c="50"
d=a+b+c
print(d)

113350

In [ ]:
a=int(input("enter"))
b.a
print(b)

In [61]:
a=eval(input("enter"))
b=""
for i in a:
   b+=str(i)
print(b)

enter[56,89,70]
568970

In [62]:
txt = "Welcome to my world"
x = txt.title()
print(x)

Welcome To My World

In [64]:
String = input('Enter the String :')
String = String[0:1].upper() + String[1:len(String)-1] + String[len(String)-1:len(String)].upper()
print(String)

Enter the String :manaswini
ManaswinI