<a href="https://colab.research.google.com/github/manaswinisunkavalli311/python_practise/blob/main/LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
append,pop,sort,reverse,insert

In [ ]:
fruit=['apple','grapes','mango','banana','orange']
print(fruit[-4:-2])
print(fruit[-1:])
print(fruit[:2])
fruit.append('blue')
print(fruit)
fruit.pop(2)
print(fruit)
fruit.sort()
print(fruit)
fruit.reverse()
print(fruit)
fruit.insert(-3,'berry')
print(fruit)
print(len(fruit))
fruit.insert(2,'cherry')
print(fruit)

['grapes', 'mango']
['orange']
['apple', 'grapes']
['apple', 'grapes', 'mango', 'banana', 'orange', 'blue']
['apple', 'grapes', 'banana', 'orange', 'blue']
['apple', 'banana', 'blue', 'grapes', 'orange']
['orange', 'grapes', 'blue', 'banana', 'apple']
['orange', 'grapes', 'berry', 'blue', 'banana', 'apple']
6
['orange', 'grapes', 'cherry', 'berry', 'blue', 'banana', 'apple']

In [ ]:
my=['m','a','n','a','s','w','i','n','i']
print(my[1:8])
print(my[-5:-1])
print(my[-1:])
print(my[2:5])

['a', 'n', 'a', 's', 'w', 'i', 'n']
['s', 'w', 'i', 'n']
['i']
['n', 'a', 's']

In [ ]:
x={'s','d','f'}
y={'f','u','o'}
print(x,y)

{'d', 's', 'f'} {'u', 'o', 'f'}

In [ ]:
pow2=[2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
a={"cherry","banana"}
print(type(a))

<class 'set'>

In [ ]:
set=["apple","banana"]
print(set[1])

banana

In [ ]:
set=["cherry","kiwi","orange","dates"]
print(set[-2:-1])
print(set[3:])
print(set[4:])
print(set[2:5])
print(set[:3])

['orange']
['dates']
[]
['orange', 'dates']
['cherry', 'kiwi', 'orange']

In [ ]:
set=[1,2,3]
set[2]=8
print(set)
set[1:3]=["cherry","banana"]
print(set)
set[0:3]=["red","blue","sky"]
print(set)
set.insert(2,"skyd")
print(set)
set.append("dfg")
print(set)
set=[6,7,8]
set2=[4,5,6]
set.extend(set2)
print(set)
set=[4,5,6]
set.remove(4)
print(set)
set.pop(1)
print(set)
set.pop()
print(set)
set=[7,7,8,9]
del set[2]
print(set)
set.clear()
print(set)

[1, 2, 8]
[1, 'cherry', 'banana']
['red', 'blue', 'sky']
['red', 'blue', 'skyd', 'sky']
['red', 'blue', 'skyd', 'sky', 'dfg']
[6, 7, 8, 4, 5, 6]
[5, 6]
[5]
[]
[7, 7, 9]
[]

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#add lists
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']