In [3]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

In [8]:
import pandas
veg_menu={
    'veg':['panneer','dal','cauliflower','carrot'],
    'cost':['150','50','78','90']
}
nonveg_menu={
    'non-veg':['chicken','crabs','prawns','egg'],
    'cost':['300','550','870','170']
}
print(pandas.DataFrame(veg_menu))
print(pandas.DataFrame(nonveg_menu))

           veg cost
0      panneer  150
1          dal   50
2  cauliflower   78
3       carrot   90
   non-veg cost
0  chicken  300
1    crabs  550
2   prawns  870
3      egg  170

In [22]:
import pandas
order=pandas.read_csv('E:\\menu1.csv')
print(order.to_string())

         order  cost
0      panneer   600
1          dal   200
2  cauliflower   399
3       carrot   400
4      chicken   800
5        crabs   800
6       prawns   670

In [6]:
import pandas
details={
    'name':['manaswini','sai','ratna'],
    'age':['18','45','37'],
    'gender':['female','male','female']
}
mydataset=pandas.DataFrame(details)
print(mydataset)

        name age  gender
0  manaswini  18  female
1        sai  45    male
2      ratna  37  female